# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
/node_modules

# Testing
/coverage

# Production
/dist
/build
/dist-ssr

# Local & Env files
.env
.env.creds
.env*.local
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
*.pem
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Django
BoltAbacus-master/db.sqlite3
BoltAbacus-master/__pycache__/
BoltAbacus-master/*/__pycache__/
BoltAbacus-master/*/*/__pycache__/
BoltAbacus-master/*.pyc
BoltAbacus-master/*/*.pyc
BoltAbacus-master/*/*/*.pyc
BoltAbacus-master/staticfiles/
BoltAbacus-master/media/
BoltAbacus-master/.env
BoltAbacus-master/.env.local
BoltAbacus-master/.env.production

# AWS Amplify
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/logs
amplify/mock-data
amplify/src/aws-exports.js
amplify/src/awsconfiguration.json
amplify/src/graphql/API.ts
amplify/src/graphql/API.tsx
amplify/src/graphql/queries.ts
amplify/src/graphql/queries.tsx
amplify/src/graphql/mutations.ts
amplify/src/graphql/mutations.tsx
amplify/src/graphql/subscriptions.ts
amplify/src/graphql/subscriptions.tsx
amplify/src/graphql/schema.json
amplify/team-provider-info.json
